 #Ignore bundler config.
 /.bundle
 # Ignore the default SQLite database.
 /db/*.sqlite3
 /db/*.sqlite3-journal
 # Ignore all logfiles and tempfiles.
 /log/*.log
 /tmp
 # Ignore other unneeded files.
 database.yml
 doc/
 *.swp
 *~
 .project
 .DS_Store
 .idea

app/assets/javascripts/static_pages.js.coffee
app/assets/stylesheets/static_pages.css.scss
app/controllers/static_pages_controller.rb
app/helpers/static_pages_helper.rb
app/views/static_pages/
tmp/cache/assets/development/sass/
tmp/cache/assets/development/sprockets/7fd9aba0a3aba31332e5c0901e933acd
tmp/cache/assets/development/sprockets/82bf9ccf676306bdcc8b878f9e3ad902
tmp/cache/assets/development/sprockets/90fc311c95a685477f8b0075ffd5b1f0
tmp/cache/assets/development/sprockets/9380ff22835eab68ad83434b1bb2b162
tmp/cache/assets/development/sprockets/96c8a359d272a17849ef34c41615dcc7
tmp/cache/assets/development/sprockets/ac7cc91112a23b7f515dd3a350e5dd5b
tmp/cache/assets/development/sprockets/b507fb1774e92b2f15b9b9dd086245f0
tmp/cache/assets/development/sprockets/cb4c2452aafb889fff938f630b33d20b
tmp/cache/assets/development/sprockets/dda0f614553b052fa0fceeaee2cf226b
tmp/pids/
tmp/sessions/
tmp/sockets/
